.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#blue {
    height: 115%;
}
#orange {
    width: 170%;
}
.inside-yellow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inside-red {
    display: grid;
    grid-template-columns: 1fr 1fr;
}