 /* nei commenti ho messo una soluzione 
  alternativa che funziona lo stesso 
 dipende da come si preferisce  */ 
:root {
    --first-color: #011212;
    --second-color: #ff8800;
    --doppiaenne: 100px;
     /* --cicoria: 50px; */ 
}

body {
    background-color: var(--first-color);
}

.ball {
    width: var(--doppiaenne);
    height: var(--doppiaenne);
    background-color: var(--second-color);
    border-radius: calc(var(--doppiaenne) / 2);
     /* border-radius: var(--cicoria); */ 
}
